h1 {
  color: green;
  font-style: italic;
}

.person {
  color: red;
  padding-top: 3px;
  font-size: 15px;
}

.notification {
  color: red;
  background: lightblue;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}